.main_cart_item_img_pictue_wrapper {
    position: relative;
    z-index: 7;
}

.main_cart_item_img_pictue_left,
.main_cart_item_img_pictue_right
 {
    position: absolute;
    bottom: 16px;
}

.main_cart_item_img_pictue_right {
    right: 16px;
}

.main_cart_item_img_pictue_left {
    right: 48px;
}