.plp {
    padding-top: 80px;
}

.products {
    margin-top: 88px;
}

.category_name {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    line-height: 160%;
    color: #1D1F22;
}

.category_name:first-letter {
    text-transform: uppercase;
}

.products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-column-gap: 40px;
    grid-row-gap: 103px;
}

.product_item {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    padding: 11px 14px 16px 16px;
}

.product_item_img {
    width: 100%;
    height: 338px;
    max-height: 338px;
}

.product_item_cart {
    position: absolute;
    width: 52px;
    height: 52px;
    top: 326px;
    right: 16px;
}

.product_item_name {
    margin-top: 24px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 160%;
}

.product_item_price {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
}