/* .app {
    background-color: rgb(249, 249, 249);
} */

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.hide {
    display: none;
}

.spinner {
    display: block;
    width: 100px;
    height: 100px;
    margin: auto auto;
}