.container {
    max-width: 1200px;
    margin: 0 auto;
}

.spinner {
    display: block;
    width: 100px;
    height: 100px;
    margin: auto auto;
}

.active_attribute {
    background-color:black;
    color: #FFFFFF;
}

.hide {
    display: none;
}

.color {
    border: 3px solid #fff !important;
    outline: 1px solid #5ECE7B !important;
}